<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53728649778-6j1d66s4pmc6puidch5703fvfofs35d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53728649778-6j1d66s4pmc6puidch5703fvfofs35d6</string>
	<key>API_KEY</key>
	<string>AIzaSyAte-n076pPd0yVIqdX3OlkKMD_Th_TjKk</string>
	<key>GCM_SENDER_ID</key>
	<string>53728649778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.books</string>
	<key>PROJECT_ID</key>
	<string>books-df4b8</string>
	<key>STORAGE_BUCKET</key>
	<string>books-df4b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53728649778:ios:b38e44aa6d4ca1e6cb922b</string>
</dict>
</plist>